body{
	font-family: Microsoft Yahei;
	font-size: 0.3rem;
	min-width: 320px;
	max-width: 750px;
	height: 100%;
	margin:0 auto;
	width: 7.5rem;
}
img{
	display: block;
	width: 100%;
}
a{
	border:none;
	outline: none;
}
.container{
	position:relative;
	height: 100%;
}
.content{
	width:7rem;
	margin:0 auto;
}
/*菜单部分*/
.footer{
	height: 0.98rem;
}
.fix{
	background: #000;
	padding: 0.1rem 0;
	position: fixed;
	bottom: 0;
	width: 7.5rem;
}
.fix ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fix li a{
	display: block;
	color: #fff;
	text-align: center;
}
.fix li a.active{
	color: #ae8350;
}
.fix li:nth-of-type(1){
	margin-left: 0.4rem;
}
.fix li:nth-of-type(6){
	margin-right: 0.4rem;
}
.fix li a p:nth-of-type(1){
	font-size: 0.5rem;
}
.fix li a p:nth-of-type(2){
	font-size: 0.24rem;
}
/*菜单部分结束*/