html,body{
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.swiper-slide img{
	width: 7.5rem;
	height: 13.34rem;
}
.swiper-pagination-bullet{
	width: 0.6rem;
	height: 0.05rem;
	border-radius: 0;
	background: #f3f3f3;
	opacity: 1;
	margin-left: 0.13rem;
}
.swiper-pagination-bullet-active{
	background: #e1af00;
}
.bg1{
	background: url(../images/hly-first-01.jpg);
	background-size: cover; 
}
.swiper-slide:nth-of-type(4){
	position: relative;
}
.swiper-slide:nth-of-type(4) a{
	position: absolute;
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.48rem;
	left: 3.11rem;
	bottom: 1.35rem;
	padding: 0.03rem 0.15rem;
}
.mask{
	width: 7.5rem;
	height: 13.34rem;
	background: url(../images/hly-first-0.jpg);
	background-size: cover;
	position: absolute;
	z-index: 3;
	transition: 3s;
}